<div class="grid-container">
  <div class="grid-x grid-margin-x event-upcoming">
    {{#if currentEvents}}
      <div class="small-12 cell">
        <h1>Online Events Happening Right Now</h1>
      </div>

      {{#each currentEvents as |event|}}
        {{event-card-small event=event currentTime=currentTime}}
      {{/each}}
    {{/if}}

    {{#if upcomingEvents}}
      <div class="small-12 cell">
        <h1>Upcoming Online Events</h1>
      </div>
    {{/if}}

    {{#each (take 3 upcomingEvents) as |event|}}
      {{event-card-small event=event currentTime=currentTime}}
    {{/each}}
  </div>
</div>
