<div class="grid grid-cols-1 lg:grid-cols-4 gap-4 auto-rows-max">
  {{#each resources as |event|}}
    <EventCard @resource={{event}} />
  {{else}}
    <div class="text-center">
      <h4>Sorry, no results. Try removing one of the filters.</h4>
    </div>
  {{/each}}
</div>
