<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="small-12 cell">
      <h1>Happening Right Now</h1>
    </div>

    {{#each (take 1 upcomingEvents 1) as |event|}}
      {{event-card-small event=event}}
    {{/each}}

    <div class="small-12 cell">
      <h1>Even more events</h1>
    </div>
    <div class="small-12 cell">
      {{#each (drop 1 upcomingEvents) as |event|}}
        {{event.title}}
      {{/each}}
    </div>
  </div>
</div>
