<div class="grid-container">
  <div class="grid-x grid-margin-x event-upcoming">
    <div class="small-12 cell">
      <h1>Happening Right Now</h1>
    </div>

    {{#each currentEvents as |event|}}
      {{event-card-small event=event currentTime=currentTime}}
    {{/each}}

    <div class="small-12 cell">
      <h1>Upcoming Events</h1>
    </div>

    {{#each (take 3 upcomingEvents) as |event|}}
      {{event-card-small event=event currentTime=currentTime}}
    {{/each}}
  </div>
</div>
