<div class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="medium-5 cell text-center">
      <span class="thanks-top">Thank You!</span>

      <div class="box--thanks">
        To all of our contributors for making<br />
        <span class="text-green text-bold">Open Education Week 2019</span><br />
        another great success!
      </div>
    </div>
  </div>
</div>