<div class="grid-container home-stats">
  <div class="grid-x grid-margin-x">
    <div class="medium-5 cell">
      <img src="assets/images/thanks-2019.svg" class="graphic--world"/>
    </div>

    <div class="medium-6 cell text-center">
      <img src="assets/images/stats-2019.svg" class="graphic--world graphic--stats"/>
    </div>
  </div>
</div>
