<div class="home-opens--wrapper">
  <div class="grid-container home-opens">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="large-6 cell text-center">
        <img src="assets/images/banner-img.svg" class="graphic--world" alt=""/>
      </div>
      <div class="large-4 cell text-center text-violet">
        Now accepting early submissions for <br/><b>Open Education Week 2021</b><br/><br/>

        <div class="home-opens__card">
          Join us <br/>
          <b>March 1-5, 2021</b>
        </div>

        <div class="summary--button">
          {{#link-to "submit"}}
            Submit your 2021 Entry
          {{/link-to}}
        </div>

      </div>
    </div>
  </div>
</div>
