<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="medium-5 cell">
      <img src="assets/images/hero.svg" class="graphic--world"/>
    </div>
    <div class="medium-1 cell hide-for-small-only">&nbsp;</div>
    <div class="medium-5 cell text-center">
      <div class="home-first--title">
        {{!-- March 5-9, 2018 --}}
        Thank you for Participating!
      </div>
      
      <div class="home-first--subtitle">
        <b>Join us next year March 4-8, 2019</b><br /><br />

        Open Education Week is a celebration of the global Open Education Movement. Its
        goal is to raise awareness about the movement and its impact on teaching and learning worldwide.


        {{!-- Join us!<br/><br/>
        <b>Call for participation is OPEN.</b>
        --}}
      </div>

      {{#link-to "page" "about-open-education-week" class="button cyan"}}About Open Education Week{{/link-to}}
      {{!-- {{#link-to "submit" class="button cyan"}}Submit Your Entry{{/link-to}} --}}
    </div>
    <div class="medium-1 columns hide-for-small-only"></div>
  </div>
</div>