<div class="home-opens--wrapper">
  <div class="grid-container home-opens">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="medium-4 cell text-center">
        <b>Call for proposals is <br/>OPEN!!</b><br/><br/>
        {{#link-to 'submit' class="button"}}Submit your Entry{{/link-to}}
      </div>
      <div class="medium-4 cell text-center">
        <img src="assets/images/hero-2020.svg" class="graphic--world"/>
        <b>March 2-6, 2020</b>
      </div>
    </div>
  </div>
</div>
