<div class="grid-container home-stats">
  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell">
      <img src="assets/images/thanks-2019.svg" class="graphic--world"/>
    </div>

    <div class="medium-6 cell text-center">
      <img src="assets/images/stats-2019.svg" class="graphic--world graphic--stats"/>
      <div class="summary--button">
        <a href="/page/summary">2019 Summary<br><span>Click to view full stats</span></a>
      </div>
    </div>
  </div>
</div>
