<div class="home-opens--wrapper">
    <div class="grid-container home-opens">
        <div class="grid-x grid-margin-x align-middle align-center">
            <div class="medium-4 cell text-left ">
                <b>Call for proposals open</b><br/>
                January 6th, 2020
            </div>
            <div class="medium-4 cell">
                <img src="assets/images/hero-2020.svg" class="graphic--world"/>
            </div>
        </div>
    </div>
</div>
