$grey:              #E0E0E0;
$orange:            #F5A623;
$cyan:              #47CABC;
$red:               #FF510B;
$yellow:            #F0B11C;
$green:             rgb(116, 178, 47);
$redMenu:           #DE4204;
$redMenuActive:     #A15205;

$footerBackground:  #F7F7F7;

$blue:              #1FB9A5;
$gray:              #787878;
