<p class="mt-10 text-sm flex flex-nowrap justify-start items-center">{{svg-jar "bell-on-light" class="h-10 w-10 p-2
    bg-green-200 text-green-900 rounded-full mr-2 flex-shrink-0"}} <span>Times shown in <mark class="bg-green-200">{{this.tz}}</mark>.</span>
</p>

<p class="mt-4 text-sm italic">Please double check time on the site of the event.</p>