<h1>Editing submission <em>{{model.title}}</em></h1>

<p>Please continue to next page to edit your submission. Once done editing, the changes will be reflected in a few
  minutes.</p>

<p>If you want to change contact email or type of submission, please submit a new entry and email us to remove the
  previous submission.</p>

{{#link-to 'submit.general' class='button'}}Next Page{{/link-to}}