<p>Please use the following form to provide information about your open resource or event. By sharing this information
  with us you'll be contributing to the array of 'commitment to openness' around the world. Contributions will be
  featured on the Open Education Week website and highlighted through all social media channels.</p>

<p>Please take note of the following:
<ul>
  <li>To ensure your contribution is featured during Open Education Week, please complete the submission form no later
    than <b>February 25th, 2019</b>.
  </li>
  <li>You are welcome to submit multiple resources or events in any language. Please fill out one form for each
    contribution.
  </li>
  <li>All contributions must have an open license with at least permission to re-use and modify (such as CC-BY or
    CC-BY-SA).
  </li>
  <li>Contributions will be reviewed by the Open Education Week Planning Committee before being posted to the website.
    Submissions that are not appropriate for Open Education Week will not be posted.
  </li>
  <li>Expect three emails after your submission:</li>
  <ol>
    <li>confirmation of submission email,</li>
    <li>approval of submission email including official Open Education Week badge to display on your webpage,</li>
    <li>link to edit your submission(s) email</li>
  </ol>

  <p>You will be provided with a link to change, update or complete your submission(s) if necessary.  *Entries submitted with the same email address will be able to use a single link.</p>
</ul>
</p>


<p>You can find more information, ideas and answers in the {{#link-to "page" "faq"}}FAQs{{/link-to}} section. If you don't find what you need please contact us at <a href="mailto:info@openeducationweek.org">info@openeducationweek.org</a> we'll be happy to assist you.</p>

{{!-- <p>To ensure your contribution is featured during Open Education Week, please complete this form no later than <strong>February 25th, 2018</strong>. Please fill out one form per submission.</p> --}}

<div class="text-center">
  {{#link-to 'submit.general' class='button'}}Submit Entry{{/link-to}}
</div>
