<h1>Introduction</h1>

<p>Thank you for your interest in contributing to Open Education Week. Open Education Week is a celebration of the global Open Education Movement. Its purpose is to raise awareness about the movement and its impact on teaching and learning worldwide. Participation in all events and use of all resources is free and open to everyone.</p>
<p>Please use this form to provide information on your contribution or event. Submitting your event through this form will allow us to show the strength of commitment to openness around the world.  Your event will be featured in the Open Education Week schedule, on the world map of events, and will be sent through Open Education Week social media channels.  You’ll also receive the official Open Education Week badge to display on your webpage or event promotional materials.</p>
<p>We welcome multiple submissions on any aspect of open education in any language. All contributions must have an open license that allows for reuse and modification, such as CC-BY. Contributions will be reviewed by the Open Education Week organizing committee before being posted to the website. Submissions that are not appropriate for Open Education Week will not be posted. </p>
<p>To ensure your contribution is featured during Open Education Week, please complete this form no later than <strong>February 25th, 2018</strong>. Please fill out one form per submission. </p>

{{#link-to 'submit.general' class='button'}}Next Page{{/link-to}}
