.home--main {
  min-height: 70vh;
  height: calc(100vh - 80px);

  @screen lg {
    min-height: calc(100vh - 120px);
  }

 video {
    @apply hidden;

    @screen md {
      @apply block fixed h-screen top-0 bg-purple-100;
      z-index: -1;
    }

    @media (min-aspect-ratio: 16/9) {
      width:100%;
      height: auto;
    }

    @media (max-aspect-ratio: 16/9) {
      width:auto;
      height: 100%;
    }
  }
}

.home--main {
  background-image: url("images/hero-2021-sm.png");
  background-position: center 80px;
  background-size: calc(100vw * 1.5);
  background-repeat: no-repeat;
  background-color: theme(colors.purple.100);

  @screen lg {
    background-image: none;
    background-color: transparent;
  }
}
