.home--main {
  min-height: 70vh;
  height: calc(100vh - 80px);

  @screen lg {
    min-height: calc(100vh - 120px);
  }
}

.home--bg {
  background-image: url("images/hero-2021-sm.png");
  background-position: center 80px;
  background-size: contain;
  background-repeat: no-repeat;

  @screen lg {
    background-image: url("images/hero-2021.png");
    background-position: center 10vh;
  }
}
