.event__card__long:hover > div::after {
  content:"";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid theme('colors.green.600');
  z-index: 10;
  pointer-events: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.sched-table h2:first-child {
    @apply mt-0;
}
