<div class="grid-container box">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 text-center">
      <h1>Submissions</h1>
    </div>

    <table class="table table-bordered table-striped">
      <thead class="text-left">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {{#each model as |submission|}}
        <tr>
          <td>{{submission.id}}</td>
          <td>{{#link-to 'submissions.detail' submission.id}}{{submission.title}}{{/link-to}}</td>
          <td>{{submission.postStatus}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
