{{!-- {{events-schedule}} --}}


<div class="home-second--container">
  <div class="grid-container">
    <div class="grid-x text-center">
      <div class="medium-6 cell clearfix home--second-left">
        <h1 class="home-second--title">Events</h1>
        <p>Review OEW events and get ideas about what you can do in your institution/organization.</p>
        {{#link-to "events" class="button red"}}Browse Events{{/link-to}}
      </div>
      <div class="medium-6 cell clearfix home--second-right">
        <h1 class="home-second--title">Projects &amp; Resources</h1>
        <p>Learn and get inspired by the work of the Open Education Community.</p>
        {{#link-to "resources" class="button cyan"}}Browse Resources{{/link-to}}
      </div>
    </div>
  </div>
</div>


<div class="home-third--container">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="small-12 medium-8 cell text-center">
        <h1 class="home-third--title">Promoting Open Education Week</h1>
      </div>
      <div class="small-12 medium-8 cell">
        <h1 class="home-third--title cell expand">Social Media</h1>
        <p class="home-third--p cell expand">
          Connect with fellow participants with hashtag and through our social media accounts
        </p>
        <p class="home-third--social cell expand">
          <a class="social-icon" href="https://twitter.com/search?q=%23OEWeek" target="_blank">{{svg-jar "hashtag"}}</a>
          <a class="social-icon" href="https://www.facebook.com/openeducationwk" target="_blank"><img
            src="/assets/svg/icon-facebook.svg"/></a>
          <a class="social-icon" href="https://twitter.com/OEWeek" target="_blank"><img
            src="/assets/svg/icon-twitter.svg"/></a>
          <a class="social-icon" href="https://www.youtube.com/user/openeducationweek/" target="_blank"><img
            src="/assets/svg/icon-youtube.svg"/></a>
        </p>
      </div>
      <div class="small-12 medium-4 cell text-center">
        <h1 class="home-third--title cell expand">Promo Materials</h1>
        <p class="home-third--p cell expand">
          Spread the word with the exclusive and customizable graphic materials
        </p>
        <p>
          {{#link-to "page" "materials" class="button cyan"}}Download{{/link-to}}
        </p>
      </div>
    </div>
    <div class="medium-12 cell">
      {{twitter-search}}
    </div>
  </div>
</div>

<div class="home-eight--container container">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div class="small-12 text-center">
        <h1>Sign up for Open Education Newsletter</h1>
        <p>Find out about the latest trends in open education. <br/> (<a
          href="http://www.oeconsortium.org/news/newsletter/" target="_blank" class="link-white">Preview previous
          editions</a>)</p>
      </div>

      <div class="small-12 medium-6 medium-centered text-center cell">
        <div id="mc_embed_signup">
          <form id="mc-embedded-subscribe-form" class="validate form-horizontal"
                action="https://ocwconsortium.us1.list-manage.com/subscribe/post?u=1a209e9010b861e3abfd5c609&amp;id=4e4d1b9eba"
                method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
            <div class="form-group">

              <input id="mce-EMAIL" class="form-control required email" name="EMAIL" type="email" value=""
                     placeholder="Email Address *"/>
              <input id="mce-FNAME" class="form-control required" name="FNAME" type="text" value=""
                     placeholder="First Name *"/>
              <input id="mce-LNAME" class="form-control required" name="LNAME" type="text" value=""
                     placeholder="Last Name *"/>

              <div class="col-sm-offset-7"><input id="mc-embedded-subscribe" class="button cyan" name="subscribe"
                                                  type="submit" value="Subscribe"/></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
