<div class="bg-gray-100 py-8 lg:py-20">
  <div class="container">
    <div class="lg:w-7/12 lg:ml-32 content">
      <h1>{{this.model.title}}</h1>
      <div class="prose lg:prose-lg">
        {{this.model.contentSafe}}
      </div>
    </div>
  </div>
</div>
