<div class="schedule__container online">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      {{schedule-action-tabs selectDate='selectDate' event_type='online'}}

      <div class="small-12 cell">
        <h1 class="schedule-header__online">{{svg-jar 'online'}} Online Events</h1>
      </div>

      {{schedule-table filteredEvent=filteredOnlineEvent}}
    </div>
  </div>
</div>