<div class="bg-gray-100 pt-5 pb-10 lg:py-20">
  <div class="container">
    <div class="lg:bg-white lg:rounded lg:shadow pb-4 pt-10 pb-16 lg:px-8 w-full lg:w-5/6 mx-auto">
      {{outlet}}
    </div>
  </div>
</div>